<nav class="main_menu">
	<ul>
		<li class="menu_item">{{#link-to "user" }} Profile {{/link-to}}</li>
		<li class="menu_item">{{#link-to "boards.management"}} Board Management {{/link-to}}</li>
		<li class="menu_item"><a id="logout_button" href="" {{action "logout"}}> Logout </a></li>
	</ul>
</nav>
<header class="main_head">
	<h1 class="board_heading">{{name}}</h1>
</header>
<div class="clear"></div>
<section class="main_content">
	{{board-menu createTicket='showCreateTicket'}}
	{{outlet}}
</section>