<div>
	<h3>Edit group</h3>
</div>
<div>
	<label>Groupname</label>
	{{input value=name}}
</div>
<div>
	<label>Password</label>
	{{input value=password}}
</div>
<div>
	<button class="btn btn-canban" {{action "save"}} title="save"> ok </button>
</div>