<nav class="row main_menu">
	<a id="profile_button" class="menu_item" href="">Profile</a>
	{{#link-to "groups" id="group_button" class="menu_item"}} Groupmanagement {{/link-to}}
	<a id="board_button" class="menu_item" href="">Board Management</a>
	<a id="logout_button" class="menu_item" href="">Logout</a>
</nav>