<nav class="row main_menu">
	{{#link-to "user" id="user_button" class="menu_item"}} Profile {{/link-to}}
	{{#link-to "groups" id="group_button" class="menu_item"}} Groupmanagement {{/link-to}}
	<a id="board_button" class="menu_item" href="">Board Management</a>
	<a id="logout_button" class="menu_item" href="">Logout</a>
</nav>