<nav class="row main_menu">
	<a id="profile_button" class="menu_item" href="">Profile</a>
	<a id="group_button" class="menu_item" href="">Groupmanagement</a>
	<a id="board_button" class="menu_item" href="">Board Management</a>
	<a id="logout_button" class="menu_item" href="">Logout</a>
</nav>