<div {{bind-attr class=":ticket ticket.isDone:done"}}>
	<span class="ticket_title">{{ticket.title}}</span>
	<span class="ticket_details">
		Creater: Wilson <br>
		Assignee: Momme <br>
		Due Date: Now
	</span>
</div>