<div>
	<div>
		{{#link-to "groups.create" class="button blue create-btn"}}
			Add Group
		{{/link-to}}

		<h2>My Groups</h2>
		<div class="group-count">Groups: {{groupsCount}}</div>
		<ul class="users-listing">
			{{#each group in controller}}
			<li>
				{{#link-to "group" group}}
					{{group.name}}
				{{/link-to}}
			</li>
			{{else}}
			<li>no groups... :(</li>
			{{/each}}
		</ul>
	</div>
</div>
	{{outlet}}