<div class="container">
    <form class="form-signin" {{action login on="submit"}}>
        <h2 class="board-heading">Sign In</h2>
        {{input value=username class="board-input-field" type="text" placeholder="Username"}}
        {{input value=password class="board-input-field" type="password" placeholder="Password"}}
        {{#link-to '' id="signup"}}Sign Up{{/link-to}}
        {{input id="signin" class="board-button" type="submit" value="Sign In"}}
    </form>
</div>