{{main-menu}}

<section class="row main_content">
	<h1 class="table_heading">Personal Board</h1>
	<table class="col-md-12 table main_table">
		<thead class="main_table_head">
			<tr class="row">
				<th class="col-md-4 chalk_border">
					Todo
				</th>
				<th class="col-md-4 chalk_border">
					Doing
				</th>
				<th class="col-md-4 chalk_border">
					Done
				</th>
			</tr>
		</thead>
		<tr class="row">
			<td class="col-md-4">
				{{#each}}
					{{ticket-comp ticket=this}}
				{{/each}}
				<!--<div class="ticket important">-->
					<!--<span class="ticket_title">#1 Test Ticket zum testen</span>-->
					<!--<span class="ticket_details">Creater: Wilson Assignee: Momme Due Date: Now</span>-->
				<!--</div>-->
				<!--<div class="ticket ticket_empty">-->
					<!--<span class="ticket_title"></span>-->
					<!--<span class="ticket_details"></span>-->
				<!--</div>-->
			</td>
			<td class="col-md-4">
				<div class="ticket important">
					<span class="ticket_title">#1 Test Ticket zum testen</span>
					<span class="ticket_details">Creater: Wilson Assignee: Momme Due Date: Now</span>
				</div>
				<div class="ticket">
					<span class="ticket_title">#1 Test Ticket zum testen</span>
					<span class="ticket_details">Creater: Wilson Assignee: Momme Due Date: Now</span>
				</div>
			</td>
			<td class="col-md-4 done">
				<div class="ticket">
					<span class="ticket_title">#1 Test Ticket zum testen</span>
					<span class="ticket_details">Creater: Wilson Assignee: Momme Due Date: Now</span>
				</div>
				<div class="ticket">
					<span class="ticket_title">#1 Test Ticket zum testen</span>
					<span class="ticket_details">Creater: Wilson Assignee: Momme Due Date: Now</span>
				</div>
			</td>
		</tr>
	</table>
</section>